* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

/* asddddddddddddddddd */


.logged-in{
  color: #45a049;
}

.logged-out{
  color: red;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 40px;
}
.txt_muted_all{
  font-size: 11px;
  color: #777;
}
.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray .no-gutters {
  padding: 0;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  transition: 0.3s;
}
.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}
.search-box {
  background: #fafafa;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}
input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  color: #e3e3e3;
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}
.friend-drawer {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}
.friend-drawer--onhover:hover p, .friend-drawer--onhover:hover h6, .friend-drawer--onhover:hover .time {
  color: #fff !important;
}
hr {
  margin: 5px auto;
  width: 60%;
}


/* asdasdasdasdasdsads */





input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
}
#people_outer :hover {
  background: rgb(252, 252, 253);
}
.main {
  height: 100%;
  width:70%;
}
.aside-1 {
   width:20%;
}
.aside-1 img{
  width:50%;
  border-radius: 50%;
}

@media all and (min-width: 600px) {
      .aside { flex: 1; }
    }

.sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 40;
  left: 0;
  background-color: rgb(241, 243, 252);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 32px;
}

.titlebar {
  height: 40px;
  width: 100%;
  -webkit-app-region: drag;
  background-color: #0e3199;
  display: flex;
}

.titlebar .title {
  flex: 1 1 100%;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.titlebar .controls {
  display: flex;
}

.titlebar button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-app-region: no-drag;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebar button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.titlebar button img {
  width: 16px;
  height: 16px;
  opacity: 0.8;
}

.titlebar button:hover img {
  opacity: 1;
}
